html{
  height: 100%;
}

a:link {
  text-decoration: none;
}

footer {
  background-color: #1976D2;
  text-align: center;
  padding: 20px;
  flex: 0 0 auto;
}

.copyright {
  font-size: 10;
  color: white;
}

.screen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background-position: center;
  background-image: url("resource/background.jpg");
}

.pages {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin: 10;
}